<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="/template/mypage/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/template/mypage/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/template/mypage/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <script type="text/javascript">
        document.getElementById('product').style.backgroundColor = "beige"
        function handleResizeHeight(textarea) {
            textarea.style.height = 'auto'; //height 초기화
            textarea.style.height = textarea.scrollHeight + 'px';
        }

        window.onload = () => {
          const panelFaqContainer = document.querySelectorAll(".product_name_field"); // NodeList 객체

          // panel-faq-answer
          let panelFaqAnswer = document.querySelectorAll(".accordion-class");

          let product_no_field = document.querySelectorAll(".product_no_field");


          // btn-all-close
          const btnAllClose = document.querySelector("#btn-all-close");

          // 반복문 순회하면서 해당 FAQ제목 클릭시 콜백 처리
          for( let i=0; i < panelFaqContainer.length; i++ ) {
            panelFaqContainer[i].addEventListener('click', function() { // 클릭시 처리할 일
              // FAQ 제목 클릭시 -> 본문이 보이게끔 -> active 클래스 추가
              panelFaqAnswer[i].classList.toggle('active');
            });
          };

    //       btnAllClose.addEventListener('click', function() {
    //         // 버튼 클릭시 처리할 일
    //         for(let i=0; i < panelFaqAnswer.length; i++) {
    //             panelFaqAnswer[i].classList.remove('active');
    //         };
    //       });
        }
    </script>

</head>

<body>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="130">제품번호</th>
                        <th width="250">제품명</th>
                        <th width="120">마켓</th>
                        <th width="350">키워드</th>
                        <th width="350" colspan="2">메모</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <form action="/api/item/add" method="POST">
                            <td><input type="text" name="product_no" id="product_no" size="20" style="width:100%; border: 1;" autocomplete="off" placeholder="제품번호" required></td>
                            <td><input type="text" name="product_name" id="product_name" size="20" style="width:100%; border: 1;" autocomplete="off" placeholder="제품명" required></td>
                            <td><select id="market" name="market" style="width:100%; border:none; border-radius:0; background:url(../) no-repeat 80% 50%;">
                                <option value="coupang">쿠팡</option>
                                <option value="naver">네이버쇼핑</option>
                            </select></td>
                            <td><input type="text" name="keyword" id="keyword" size="20" style="width:100%; border: 1;" autocomplete="off" placeholder="키워드 '/'로 구분 ex)매트/바닥/욕실" required></td>
                            <td><textarea oninput="handleResizeHeight(this)" name="etc" id="etc" rows="1" style="width:100%; border: 1; resize: none; vertical-align: middle;" placeholder="메모"></textarea></td>
                            <td><button type="submit" size="20" style="width:100%;">추가</button></td>
                        </form>
                    </tr>
                <% data.products.forEach( product => { %>
                    <tr class="content-container">
                        <td class="product_no_field"><%= product.product_no %></td>
                        <td class="product_name_field"><%= product.product_name %></td>
                        <td><%= product.market %></td>
                        <td><%= product.keyword %></td>
                        <td colspan="2"><textarea oninput="handleResizeHeight(this)" name="content" rows="<%= product.etc.split(/\r\n|\r|\n/).length %>" style="width:100%; border: 0; resize: none;" readonly="readonly"><%= product.etc %></textarea></td>
                    </tr>
                    <tr class="accordion-class">
                        <td colspan="6">
                            <div class="row-display" style="display:flex;">
                                <table style="width:100%;">
                                    <tr>
                                        <th width="150">키워드</td>
                                        <% for (var i=0; i<7; i++) { %>
                                            <th><%= product.rankData[0][i].rank_date %></th>
                                        <% } %>
                                        <th>상세 팝업</td>
                                    </tr>
                                    <% product.rankData.forEach( rankData => { %>
                                        <tr>
                                            <td><%= rankData[0].keyword %></td>
                                                <% rankData.forEach( data => { %>
                                                    <td><%= data.rank %></td>
                                                <% }) %>
                                            <td>none</td>
                                        </tr>
                                    <% }) %>
                                </table>
                            </div>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>